In [28]:
import pandas as pd
import numpy as np

In [43]:
data = {'dayOfYear':[1,2,3,4,5],
        'windSpeed':[2.2,3.2,-9999.0,4.1,2.9],
        'windDirection':['E', 'NW', 'NW', 'N', 'S'],
        'precipitation': [0,18,25,2,0]}

In [44]:
#creat DataFrame
df = pd.DataFrame(data)

In [45]:
df.tail(2)

   dayOfYear  windSpeed windDirection  precipitation
3          4        4.1             N              2
4          5        2.9             S              0

In [46]:
df.columns

Index(['dayOfYear', 'windSpeed', 'windDirection', 'precipitation'], dtype='object')

In [47]:
df.dtypes

dayOfYear          int64
windSpeed        float64
windDirection     object
precipitation      int64
dtype: object

In [48]:
df.size

20

In [49]:
df.shape

(5, 4)

In [50]:
df.describe()

       dayOfYear    windSpeed  precipitation
count   5.000000     5.000000         5.0000
mean    3.000000 -1997.320000         9.0000
std     1.581139  4473.075156        11.7047
min     1.000000 -9999.000000         0.0000
25%     2.000000     2.200000         0.0000
50%     3.000000     2.900000         2.0000
75%     4.000000     3.200000        18.0000
max     5.000000     4.100000        25.0000

In [51]:
df.isnull()

   dayOfYear  windSpeed  windDirection  precipitation
0      False      False          False          False
1      False      False          False          False
2      False      False          False          False
3      False      False          False          False
4      False      False          False          False

In [52]:
df.isna()

   dayOfYear  windSpeed  windDirection  precipitation
0      False      False          False          False
1      False      False          False          False
2      False      False          False          False
3      False      False          False          False
4      False      False          False          False

In [53]:
df['windSpeed'].isin([-9999])

0    False
1    False
2     True
3    False
4    False
Name: windSpeed, dtype: bool

In [54]:
df['windSpeed']==-9999

0    False
1    False
2     True
3    False
4    False
Name: windSpeed, dtype: bool

In [55]:
idx_missing =df.isin([-9999.0])

In [57]:
df[idx_missing]=np.nan
df

   dayOfYear  windSpeed windDirection  precipitation
0          1        2.2             E              0
1          2        3.2            NW             18
2          3        NaN            NW             25
3          4        4.1             N              2
4          5        2.9             S              0

In [58]:
df.describe()

       dayOfYear  windSpeed  precipitation
count   5.000000   4.000000         5.0000
mean    3.000000   3.100000         9.0000
std     1.581139   0.787401        11.7047
min     1.000000   2.200000         0.0000
25%     2.000000   2.725000         0.0000
50%     3.000000   3.050000         2.0000
75%     4.000000   3.425000        18.0000
max     5.000000   4.100000        25.0000

In [60]:
df.isna()

   dayOfYear  windSpeed  windDirection  precipitation
0      False      False          False          False
1      False      False          False          False
2      False       True          False          False
3      False      False          False          False
4      False      False          False          False

In [62]:
print(df["windSpeed"].mean())
print(df["windSpeed"].min())
print(df["windSpeed"].max())
print(df["windSpeed"].std())
print(df["windSpeed"].median())
print(df["windSpeed"].quantile(0.5))

3.1
2.2
4.1
0.7874007874011809
3.05
3.05

In [64]:
df["precipitation"].cumsum()

0     0
1    18
2    43
3    45
4    45
Name: precipitation, dtype: int64

In [65]:
df.precipitation.cumsum()

0     0
1    18
2    43
3    45
4    45
Name: precipitation, dtype: int64

In [66]:
df.windDirection.unique()

array(['E', 'NW', 'N', 'S'], dtype=object)

In [71]:
df[2:4]

   dayOfYear  windSpeed windDirection  precipitation
2          3        NaN            NW             25
3          4        4.1             N              2

In [72]:
df[["windSpeed","windDirection"]]

   windSpeed windDirection
0        2.2             E
1        3.2            NW
2        NaN            NW
3        4.1             N
4        2.9             S

In [76]:
# integer loc or iloc notation
# row and column numbers

df.iloc[2:4,1:3]

   windSpeed windDirection
2        NaN            NW
3        4.1             N

In [77]:
df.iloc[2:4,[1,3]]

   windSpeed  precipitation
2        NaN             25
3        4.1              2

In [79]:
idx_wind = df["windSpeed"]>=3
idx_wind

0    False
1     True
2    False
3     True
4    False
Name: windSpeed, dtype: bool

In [80]:
df.loc[idx_wind,"precipitation"]

1    18
3     2
Name: precipitation, dtype: int64

In [84]:
dates = pd.date_range('20200101', periods = df.shape[0], freq='M')
dates

DatetimeIndex(['2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30',
               '2020-05-31'],
              dtype='datetime64[ns]', freq='M')

In [101]:
df= df.drop("dates",axis=1)
df.insert(0,'dates',dates)

In [99]:
df

   dayOfYear  windSpeed windDirection  precipitation
0          1        2.2             E              0
1          2        3.2            NW             18
2          3        NaN            NW             25
3          4        4.1             N              2
4          5        2.9             S              0